body{
    width: 375px;
    height: 667px;
    margin: 0 auto;

    background-color: #E5E5E5;

    overflow-x: hidden;
}

header{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 22px;
    padding-right: 22.41px; 
    margin-bottom: 26px;  
}

header ion-icon {
    font-size: 42.19px;
}

.mensagens {
    width: 100%;
    height: 200px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    gap: 4px;

    margin-bottom: 242px;

}

.mensagem {
    height: 40px;

    display: flex;
    align-items: center;

    padding-left: 8px;
    gap: 7px;

    background-color: #FFFFFF;

}
.mensagem.reservada {
    background-color: #FFDEDE;
    height: 63px;

    display: flex;
    align-items: center;

    padding-left: 8px;
}

.mensagem.status {
 background-color: #DCDCDC;
}

.texto-transparente {
 color: #AAAAAA;

 
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 16px;
 letter-spacing: 0em;
 text-align: left;
}

.texto-negrito {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.mensagem .texto-normal{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: #000000;
}

footer {
    width: 375px;
    height: 80px;
    background-color:#FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 17px;
    padding-right: 18px;

    position: absolute;
    
    z-index: 50;
}
footer ion-icon {
  font-size: 26px;
}

footer input {
 width: 145px;
 height: 30px;
 border: none; 
}
input[type=text]{outline:none};
